<div class="searchbar">
    <div class="container">
        <form action="/search" class="search__form" role="serch" method="POST">
        <input 
        type="text"
        aria-label="Search"
        id="searchinput"
        name="searchTerm"
        placeholder="Search the site..."/>
        </form>
        <div class="searchClose">Close</div>
    </div>
</div>