<div class="author">
    <h1 class="author__heading">Hi, I am Aryan</h1>
    <p class="author__body">Web developer and content creator.</p>
</div>
<img src="https://i.pngimg.me/thumb/f/720/6619016982429696.jpg" alt="man looking through window" class="hero-image" width="981" >
<section class="articles" >
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="articles-ul"></ul>
    <li>
        <a href="#">
            <span>Post Title</span>
            <span class="article-list__date">Date</span>
        </a>
    </li>
</section>